# Dependências
/node_modules

# Build / Produção
/dist

# Variáveis de ambiente locais (MUITO IMPORTANTE)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*

# Editor
.vscode/
.DS_Store